@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Lexend:wght@100..900&family=Magra:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-primary:#ffe100;
    --color-light:#ffff;
    --color-dark:#131212;
}
::-webkit-scrollbar {
    width: 3px;
    height:3px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: var(--color-dark);
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    color: var(--color-primary);
    padding: 0 50px;

}
.contact{
    width: 45%;
    display: flex;
    align-items: center;
}
.contact > div{
    display: flex;
    align-items: center;
    padding: 7px;
}
.contact > div > p{
    font-size: 10px;
    padding: 7px;
}
.contact > div > i {
    padding: 7px;
    color: #cac8b7;
    border-left: 1px solid var(--color-primary);
}
.login{
    display: flex;
    align-items: center;
    text-align: center;
}
.login > button{
    padding: 7px 14px;
    color: var(--color-primary);
    font-size: 17px;
    font-weight: 700;
    background: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.login > button > i {
    color: var(--color-primary);
    padding: 0 5px;
}
.login > button:hover{
    box-shadow: 0 0 1px var(--color-primary);
}
.main{
    width: 100%;
    height: 100vh;
}
.menu{
    width: 80%;
    height: 80px;
    background: black;
    display: flex;
    text-align: left;
    margin: 10px 150px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px ;
    border-radius: 7px;
    box-shadow: 0 0 15px black;

}
.logo{
    width: 100px;
}
#opetion{
    display: flex;
    width: 50%;
    text-align: center;
}
#mySelect {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffe100;
    border-radius: 5px;
    background-color: #222;
    color: var(--color-primary);
    appearance: none;
    margin: 0 auto;
    outline: none;
}
.profile{
    display: flex;
    align-items: center;
}
.profile > a {
    color: var(--color-primary);
    font-size: 14px;
    border: 1px solid var(--color-primary);
    padding: 3.5px 7px;
    border-radius: 7px;
}