<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.construction.servlets.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewTasks</servlet-name>
        <servlet-class>com.construction.servlets.ViewTasks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTasks</servlet-name>
        <url-pattern>/viewTask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAll</servlet-name>
        <servlet-class>com.construction.servlets.ViewAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAll</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>com.construction.servlets.AddProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/addprojects</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProject</servlet-name>
        <servlet-class>com.construction.servlets.UpdateProject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProject</servlet-name>
        <url-pattern>/updateProject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>com.construction.servlets.DeleteTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/deleteProject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddResource</servlet-name>
        <servlet-class>com.construction.servlets.AddResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddResource</servlet-name>
        <url-pattern>/addRessource</url-pattern>
    </servlet-mapping>
</web-app>